body {
    margin: 0;
    background-color: #368D9C;
    color: white;
    font-family: sans-serif;
    letter-spacing: 2px;
}

header {
    background-color: #ff622e;
    padding: 20px;
    text-align: right;
    border-bottom: 10px solid #9c461e;
}

header a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

figure {
    margin: 0;
}

figcaption {
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 3px 2px #a8400a;
    top: 125px;
    left: 40px;
}

form {
    text-align: center;
    margin: 100px;
    text-shadow: 1px 1px #a8400a;
}

form h1 {
    font-size: 40px;
    text-shadow: 3px 2px #a8400a;
}

form input {
    margin: 10px;
    background-color: #ade6e8;
    color: #499c9e;
    border: none;
    padding: 6px;
}

form textarea {
    font-family: sans-serif;
    margin: 10px;
    background-color: #ade6e8;
    color: #499c9e;
    border: none;
    padding: 6px;
}

form button {
    background-color: #006771;
    color: white;
    font-size: 16px;
    border: none;
    padding: 15px 30px;
    margin-top: 15px;
    letter-spacing: 1px;
}

form button:hover {
    background-color: #ff622e;
}

footer {
    background-color: #006771;
    padding: 25px;
    text-align: center;
    border-bottom: 20px solid #00525d;
}